@import "tailwindcss";



@theme inline {
  --color-gray-100: #989493;
  --color-green-500: #03915D;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.isCentered {
  @apply flex items-center justify-center
}

button {
  cursor: pointer;
}